#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
  color: white;
  font-size: 35px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #e9e9eeaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #e3eceeaa);
}

.Nav {
  display: flex;
  background-color: #282c34;
}


.nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  margin-bottom: 2em;
}

.nav-item {

  margin-right: 2em;
  flex-wrap: nowrap;
  margin-bottom: 2em;
  font-size: 25px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
